# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.eggs/
dist/
build/
develop/
*.egg-info/

# Our own local version of a library
lib/python*/

# Local configuration
*.pem
*.key
*.pfx
*.crt
*.csr